section{
    border: 3px dashed darkgray;
    padding: 0px 20px 20px 20px;    
    margin: 10px;
}

.margin{
    background-color: darkorange;
}

.border{
    background-color: bisque;
}

.padding{
    background-color: lightgreen;
}

.content{
    background-color: turquoise;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

