header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div {
    display: flex;
    justify-content: space-around;

}

section{
    padding: 20px;
}

footer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    margin: 0 40px;
}