section{
    border: 3px solid black;
}

.border1{
    border-color: green;
    /* padding: 20px 50px 20px 50px; */
    padding: 2% 10% 2% 10%;
}

.border2{
    border-color: blue;
    padding: 20px;
}

.main{
    border-color: black;
    margin: 10px;
    padding: 20px;
    text-align: center;
}