@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
}

.main-ctr {
    margin: 2em 3em;
    padding: 2em 5em;
    border: 1px solid lightgray;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    gap: 3em;
}

.main-ctr .img-ctr {
    width: 35%;
}

.main-ctr .img-ctr img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.main-ctr .text-ctr {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-ctr .text-ctr header {
    padding: 2em 3em;
    background-color: #F3F3F3;
    border-left: 5px solid #7AB730;
}

.main-ctr .text-ctr header p {
    color: #7AB730;
    font-weight: bold;
    padding-bottom: 1em;
}

.main-ctr .text-ctr header h1 {
    font-size: 2.8em;
    font-weight: 600;
}

.text-ctr>p {
    text-align: center;
    font-weight: bold;
    color: #656570;
}

.add-info {
    background-color: #F3F3F3;
    padding: 2em;
}

.btns {
    display: flex;
    margin-bottom: 1em;
}

.btns .green,
.btns .grey {
    flex-grow: 1;
    text-align: center;
    padding: 0.4em;
}

.btns .green {
    background-color: #7AB730;
    color: white;
}

.btns .grey {
    color: #7AB730;
}