.card{
    border: 1px solid black;
    border-radius: 10px;
    max-width: 300px;
    max-height: 800px;
    overflow: hidden;
}

section img {
    max-width: 100%;
}

.text{
    padding: 0px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

span{
    font-weight: bold;
}

a{
    font-style: italic;
}