.btn{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10%;
    margin: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.grey{
    background-color: lightgray;
}

.orange{
    background-color: orange;
}

.lightyellow{
    background-color: lightgoldenrodyellow;
}

.white{
    background-color: white;
}