body{
    font-family: sans-serif;
}
section{
    border: 1px solid darkgray;
    /* margin: 10px 30%; */
    padding: 0px 30px 20px 30px;
    margin: auto;
    width: 45%;
}
p{
    font-size: small;
}
footer{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
