div {
    padding: 20px;
}

section {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

main {
    display: flex;
}

.big {
    flex-grow: 3;
}

.small {
    flex-grow: 2;
}

main.reversed {
    flex-direction: row-reverse;
}