body {
  font-family: 'Gochi Hand', cursive;
}

.main-ctr{
    width: 60%;
    margin: auto;
    border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 20px;
    max-width: 1000px;
}

.upper-ctr{
    margin: 20px;
    border-radius: 10px 10px 0 0;
    background-image: url(./images/nature.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    display: flex;
    align-items: flex-end;
}

.text-ctr{
    background-color: white;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 0 20px;
}

.lower-ctr{
    background-color: aliceblue;
    padding: 1em 2em;
    background-size: contain;
    border-top: 1px solid lightgrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


